NODE_ENV=development
HOST=0.0.0.0
PORT=3000
FRONTEND_URL=http://localhost:4200
FRONTEND_URLS=
HTTPS_ENABLED=false
HTTPS_KEY_PATH=../certs/local-key.pem
HTTPS_CERT_PATH=../certs/local-cert.pem
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=weblive2026
DATABASE_USER=weblive
DATABASE_PASSWORD=weblive_dev_password
DATABASE_SSL=false
DATABASE_SYNCHRONIZE=false
JWT_SECRET=change_me_in_real_environments
JWT_EXPIRES_IN=1d
